/* Remove margens e paddings do HTML e BODY */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* evita rolagem */
  font-family: Arial, sans-serif;
  background-color: transparent;
}

/* Aplica box-sizing consistente */
*, *::before, *::after {
  box-sizing: border-box;
}
